# file options

--exclude Examples/ExampleMultiProjectIntegration/ExampleMultiProjectIntegration/SafeDI.swift

# format options
--modifierorder nonisolated,open,public,internal,fileprivate,private,private(set),final,override,required
--ranges no-space
--extensionacl on-declarations
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs same-line

# rules
--enable isEmpty
--enable wrapEnumCases
--enable wrapMultilineStatementBraces
