# file options

--exclude Examples/ExampleMultiProjectIntegration/ExampleMultiProjectIntegration/SafeDI.swift

# format options
--indent tab
--modifierorder nonisolated,open,public,internal,fileprivate,private,private(set),final,override,required,convenience
--ranges no-space
--extensionacl on-declarations
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs same-line
--hexgrouping none
--decimalgrouping 3
--trailing-commas always
--test-case-name-format standard-identifiers
--import-grouping access-control,alpha,testable-last

# rules
--enable isEmpty
--enable wrapEnumCases
--enable wrapMultilineStatementBraces
--disable consistentSwitchCaseSpacing
--disable blankLineAfterSwitchCase
--disable hoistTry
--disable docComments
--disable redundantSendable

# global
--swiftversion 6.3
